<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals._OLSKPageAssetFolder = [
	'node_modules',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedActiveRouteConstant,
	OLSKSharedPageCurrentLanguage,
	OLSKSharedPageLanguagesAvailable,
};
locals.OLSKPagePublicRouteKeys = [OLSKSharedActiveRouteConstant];
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKAppToolbarDispatchFund</strong>
	<span id="TestOLSKAppToolbarDispatchFund">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchLauncher</strong>
	<span id="TestOLSKAppToolbarDispatchLauncher">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchStorage</strong>
	<span id="TestOLSKAppToolbarDispatchStorage">0</span>
</p>
