<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedActiveRouteConstant,
				OLSKSharedPageCurrentLanguage,
				OLSKSharedPageLanguagesAvailable,
			}) %>[inputData];
		};
	</script>

	<script src="/node_modules/OLSKRouting/main.js"></script>
	<script type="text/javascript">
		window.OLSKCanonicalFor = function(inputData, params) {
			return OLSKRouting.OLSKRoutingCanonicalPathWithRoutePathAndOptionalParams((<%- JSON.stringify([OLSKSharedActiveRouteConstant].reduce(function (map, e) {
				map[e] = OLSKRouteObjectFor(e).OLSKRoutePath;
				return map;
			}, {})) %>)[inputData], params);
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestOLSKAppToolbarDispatchLauncher</strong>
	<span id="TestOLSKAppToolbarDispatchLauncher">0</span>
</p>

<p>
	<strong>TestOLSKAppToolbarDispatchStorage</strong>
	<span id="TestOLSKAppToolbarDispatchStorage">0</span>
</p>

</body>
</html>
