<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
locals._OLSKPageAssetFolder = [
	'node_modules',
];
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKAppToolbarDispatchApropos</strong>
	<span id="TestOLSKAppToolbarDispatchApropos">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchTongue</strong>
	<span id="TestOLSKAppToolbarDispatchTongue">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchFund</strong>
	<span id="TestOLSKAppToolbarDispatchFund">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchClub</strong>
	<span id="TestOLSKAppToolbarDispatchClub">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchLauncher</strong>
	<span id="TestOLSKAppToolbarDispatchLauncher">0</span>
</p>

<p>
	<strong>OLSKAppToolbarDispatchCloud</strong>
	<span id="TestOLSKAppToolbarDispatchCloud">0</span>
</p>
