.OLSKAppToolbar {
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;

	/* OLSKToolbarFlexbox:Parent */
	justify-content: space-between;
}

.OLSKAppToolbar *:not(.OLSKAppToolbarFundButton) {
	color: var(--OLSKCommonForeground);	
}

.OLSKAppToolbar a {
	color: inherit;
}

.OLSKAppToolbar div {
	display: flex;
	align-items: center;
}

.OLSKAppToolbar :global(.OLSKToolbarElementGroup > *:not(:first-child)) {
	margin-left: 10px;
}

.OLSKAppToolbarFundButton {
	padding: 2px 4px;

	/* #hotfix .OLSKToolbarElementGroup button */
	margin: 0;
}

.OLSKAppToolbarFundLimit {	
	/* #hotfix .OLSKToolbarElementGroup button */
	margin: 4px;
}

.OLSKAppToolbarError {
	color: red !important;
	font-weight: bold;
}
